<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bar</title>
</head>
<body>
  <h1>Welcome to the bar. What can I get you to drink?</h1>

  {{if .First}}
  <p>USER NAME {{.UserName}}</p>
  <p>FIRST {{.First}}</p>
  <p>LAST {{.Last}}</p>
  {{end}}
</body>
</html>
