<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTTP Multiplexer</title>
</head>
<body>
  <p><strong>METHOD:</strong> {{.Method}}</p>
  <p><strong>URI:</strong> {{.URI}}</p>
  <h1>Links</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  {{if eq .URI "/about"}}
    <h2>About Me</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus animi aliquam, eligendi laborum blanditiis facere obcaecati, dicta perferendis aperiam expedita maiores corrupti odio, unde error doloremque porro! Voluptatum, error odit.</p>
  {{end}}
</body>
</html>
