<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>



<h1>2020-2021</h1>
<h2>Fall</h2>
<ul>
  
  <li>
    Number: CSCI-40 - Name: Introduction to Programming in Go - Units: 4
  </li>
  
  <li>
    Number: CSCI-130 - Name: Introduction to Web Programming with Go - Units: 4
  </li>
  
  <li>
    Number: CSCI-140 - Name: Mobile Apps Using Go - Units: 4
  </li>
  
</ul>

<h2>Spring</h2>
<ul>
  
  <li>
    Number: CSCI-50 - Name: Advanced Go - Units: 5
  </li>
  
  <li>
    Number: CSCI-190 - Name: Advanced Web Programming with Go - Units: 5
  </li>
  
  <li>
    Number: CSCI-191 - Name: Advanced Mobile Apps With Go - Units: 5
  </li>
  
</ul>



<h1>2021-2022</h1>
<h2>Fall</h2>
<ul>
  
  <li>
    Number: CSCI-40 - Name: Introduction to Programming in Go - Units: 4
  </li>
  
  <li>
    Number: CSCI-130 - Name: Introduction to Web Programming with Go - Units: 4
  </li>
  
  <li>
    Number: CSCI-140 - Name: Mobile Apps Using Go - Units: 4
  </li>
  
</ul>

<h2>Spring</h2>
<ul>
  
  <li>
    Number: CSCI-50 - Name: Advanced Go - Units: 5
  </li>
  
  <li>
    Number: CSCI-190 - Name: Advanced Web Programming with Go - Units: 5
  </li>
  
  <li>
    Number: CSCI-191 - Name: Advanced Mobile Apps With Go - Units: 5
  </li>
  
</ul>



</body>
</html>
