<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Global Functions</title>
</head>
<body>
  {{/* COMMENT */}}
  {{index .Words 2}}
  {{index .Words 0}}
  {{index .Words 1}}
  {{.Lname}}
</body>
</html>
